chatmigrations/__pycache__/0003_auto_20220602_1110.cpython-37.pyc
chatmigrations/__pycache__/0004_auto_20220602_1111.cpython-37.pyc
Car_Selling/__pycache__/

chat/__pycache__/
chat/__pycache__/forms.cpython-37.pyc
chat/__pycache__/models.cpython-37.pyc
chat/__pycache__/views.cpython-37.pyc
chat/migrations/0001_initial.py
chat/migrations/0002_auto_20220602_1027.py
chat/migrations/__pycache__/0001_initial.cpython-37.pyc

chat/migrations/
Chat_Application/migrations/

media/

Chat_Application/.env

chat/__pycache__/


db.sqlite3
temp.py
temp.txt
celery.txt
channels.txt
drf.txt
throttling.txt
viewsets_and_routers.txt
tasks.txt
base/__pycache__/
base/migrations/
base/migrations/__pycache__/
Chat_Application/__pycache__/settings.cpython-37.pyc
Chat_Application/__pycache__/urls.cpython-37.pyc   